{% extends 'base.html' %}
{% block content %}

        <!-- Header-->
        <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">About us</h1>
                    <p class="lead fw-normal text-white-50 mb-0">Welcome to Dunder Mifflin</p>
                </div>
            </div>
        </header>

        <div class="container">
        	<div class="row">
        		<center>
        			<div class="col-8">
        				<p align="justify">
        				<br/>
        				Dunder Mifflin Paper Company, Inc., is a paper supply company with its corporate office in New York; it has six branches in eastern states of the USA. The CEO of Dunder Mifflin is David Wallace. Each Dunder Mifflin branch is run by a branch manager who supervises all employees at the branch. All branch managers are supervised by the Dunder Mifflin CEO. The CEO is not supervised by anyone. 
        				<br/> <br/>
        				</p>
        			</div>
        		</center>
        	</div>
        </div>

{% endblock %}