{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Edit Performance Review page</title>
    <link rel="stylesheet" href="{% static 'Hcss/Home.css' %}">
    <!-- Include Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        .text-shadow {
            color: white;
            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); /* Dark shadow */
/*            background-color: black;*/
        }
    </style>
</head>

<body>
    {% include 'navbar.html' %}

    <div class="container">
        <h2 style="color:white; font-size: 80px;">Edit Performance Review</h2>
        <form method="post" class="text-shadow" style="color:white; font-size: 30px;">
            {% csrf_token %}

            {{ form.as_p }}

            <button type="submit" class="btn btn-primary">Save</button>
        </form>
    </div>

    <script>
        function Logout() {
            window.location.href = '{% url "logout" %}';
        }
        setInterval(() => {
            var time = new Date();
            document.getElementById("Time").innerHTML = time.toLocaleTimeString();
        }, 1000);
        window.onclick = function (event) {
            var logoutModal = document.getElementById('logoutModal');
            var registerEmployeeModal = document.getElementById('registerEmployeeModal');

            if (event.target == logoutModal) {
                logoutModal.style.display = "none";
            }

            if (event.target == registerEmployeeModal) {
                registerEmployeeModal.style.display = "none";
            }
        }
        
        // Automatically hide alert messages after a few seconds
        window.onload = function() {
            setTimeout(function() {
                var alerts = document.querySelectorAll('.alert');
                alerts.forEach(function(alert) {
                    alert.style.display = 'none';
                });
            }, 5000);  // Hide after 5 seconds
        };
    </script>
</body>

</html>
